<div class="container">
  <div class="row">
    <div class="col">
      <br>
    </div>
    <div class="col">
      <app-searchbar></app-searchbar>
    </div>
  </div>
  <app-supprimer-recette [showMe]='showSuppr'></app-supprimer-recette>
  <div class="row">
    <div class="recettes">
      <div class="col-lg-4 col-md-6 col-sm-12" *ngFor='let recette of recettes'>
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{recette.titre}}</mat-card-title>
            <mat-card-subtitle>{{recette.portions}} portions</mat-card-subtitle>
          </mat-card-header>
          <a routerLink="/detail/{{recette.id}}">
            <mat-card-content>
              <p><b>Venez apprendre à faire cette recette et goûter-là !</b></p>
            </mat-card-content>
          </a>
          <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="['/modifier-recette']">Modifier</button>
            <button mat-raised-button color="warn" (click)="toogleSuppr();delete(recette);">Supprimer</button>
            <button mat-icon-button>
              <mat-icon></mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
