$background100:100%;

div {
  text-align: center;
}

mat-card-title,
mat-card-subtitle {
  display: flex;
}

mat-card-actions {
  text-align: center;
}

.recettes {
  display: flex;
}

.example-card {
  max-width: 80%;
  max-height: 100%;
  margin: 15px;
}

.example-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}

.header-image {
  background-image: url("/../assets/usa.svg");
  background-size: cover;
}

mat-icon {
  background-image: url("/../assets/star_border.svg");
  background-size: $background100;
}

a {
  position: relative;
  color: #000;
  text-decoration: none;
}
button{
    text-align: center;
    margin: auto;
    display: inline;
}