$width100:100%;

.mat-radio-button ~ .mat-radio-button {
    margin-left: 10px;
  }
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: $width100;
  }
  
.example-full-width {
    width: $width100;
  }
#add{
    background-size: cover;
    background-image: url("/../assets/add.svg");
}
#minus{
    background-size: cover;
    background-image: url("/../assets/minus.svg");
}
button{
    margin: 20px;
}
.example-full-width{
    width: 20%;
}
p{
    margin-top: 20px;
}
mat-slider{
    margin-bottom: 20px;
}
mat-radio-button{
    margin-bottom: 15px;
}
mat-icon-button{
    margin-top: 20px;
}
.example-chip-list{
    width: 30%;
}
mat-chip{
    width: auto;
    height: auto;
}
.alert-success{
    background-color:#d4ecdc;
    width: 25%;
    border-radius: 5px;
    border: 1px solid #c3e6cb;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
hr{
    border-color:#d4ecdc;
    width: 50%;
}
mat-divider{
    width: 70%;
}
.plus{
    background-image: url("/../assets/add.svg");
    background-size: $width100;
}
.minus{
    background-size: $width100;
    background-image: url("/../assets/minus.svg");
}