$background100:100%;

.example-card {
    max-width: 30%;
    margin:15px;
}
.example-card:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
.brownie-header-image{
    background-image:url("/../assets/usa.svg");
    background-size:cover;
}
.guaca-header-image{
    background-image:url("/../assets/mexico.svg");
    background-size:$background100 $background100;
}
.boeuf-header-image{
    background-image:url("/../assets/france.svg");
    background-size:$background100;
}
mat-icon{
    background-image: url("/../assets/star_border.svg");
    background-size: $background100;
}