<div class="container">
  <form [formGroup]='inscriForm'>
    <div class="row align-items-center" align='center'>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="mettez un email..." formControlName='email'>
          <mat-error *ngIf="email.invalid && email.touched">
            Votre adresse email n'a pas l'air réel !
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center" align='center'>
      <div class="col">
        <mat-form-field>
          <input matInput placeholder="mettez un mot de passe..." formControlName='mdp'>
          <mat-hint align="end">Votre mot de passe doit avoir une lettre et un chiffre au moins</mat-hint>
          <mat-error *ngIf="mdp.invalid && mdp.touched">
            Votre mot de passe n'est pas assez élaboré !
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row align-items-center" align='center'>
      <div class="col">
        <button mat-raised-button color="primary" [disabled]='inscriForm.invalid' (click)="add(email.value,mdp.value);toogleAlert();">Valider</button>
        <!-- redirection vers l'accueil qui doit etre crée en cliquant sur Valider-->
        <button mat-raised-button color="warn" [routerLink]="['/choix-compte']">Retour</button>
        <div class="alert alert-success" role="alert" *ngIf='showAlert'>
            <h4 class="alert-heading">Compte Ajoutée !</h4>
            <p>Votre compte a été ajouté.</p>
            <button mat-button (click)="closeAlert()" [routerLink]="['/']">OK</button>
        </div>
      </div>
    </div>
  </form>
</div>
