<div class="content">
  <label>Rejoignez la famille !</label>
  <div class="example-button-row">
    <mat-form-field class="example-full-width">
      <mat-label>Adresse email :</mat-label>
      <input matInput value="">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Mot de passe :</mat-label>
      <input matInput value="">
    </mat-form-field>
    <button mat-raised-button color="warn" [routerLink]="['/choix-compte']">Annuler</button>
    <button mat-raised-button color="primary">Valider</button>
  </div>
</div>
